:root {
    --grid-rows: 1;
    --grid-columns: 1;
    --brush-color: black;
}

* {
    background-color: lightgray;
}

#grid {
    border: medium;
    border-color: black;
    border-style: solid;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(var(--grid-columns),1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    display: grid;
}

.grid-item {
    border-style: dashed;
    border-color: cadetblue;
    background-color: white;
}

.paint {
    background-color: var(--brush-color);
}